.demo-1 {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: orange;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #ac1122;
}

.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	bottom: 100%;
	letter-spacing: 0.2em;
	text-indent: 0.5em;
	font-weight: bold;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
	.naviagtion-container{
		width: 100%;
	}
	.navigation li{
		font-size: 14px;
		margin: 0px 5px;
	}
}
